.bg{
  background-color:#000;
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}

.nation{

  &-small{
    padding-top:10px;
    color:#00ffaa;
    position:fixed;
    left:50%;
  }

  &-big{
    width:100%;
    font-size:500px;
    color:#00ffaa;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translateY(-50%);
    opacity:0.2;
  }

}




.inner-box{
  height:628px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}


.land{
  //position:absolute;
  &-wrap{
    width:595px;
    height:162px;
    margin-right:50px;
    position:absolute;
    transition:all 1s ease-out;

    &:nth-child(1){
      top:0;
      left:0;
    }
    &:nth-child(2){
      top:412px;
      left:510px;
    }
    &:nth-child(3){
      top:0;
      left:1020px;
    }
    &:nth-child(4){
      top:466px;
      left:1530px;
    }
    &:nth-child(5){
      top:0;
      left:2040px;
    }
    &:nth-child(6){
      top:368px;
      left:2550px;
    }
    &:nth-child(7){
      top:0;
      left:3060px;
    }
    &:nth-child(8){
      top:412px;
      left:3570px;
    }
    &:nth-child(9){
      top:0;
      left:4080px;
    }

    &.height{
      width:582px;
      height:260px;
    }


  }
  &-info{
    padding-left:20px;
  }
  &-image{
    float:left;
    margin-right:45px;
    //cursor:pointer;
  }

  &-title{
    padding-bottom:32px;
    color:#00ffaa;

  }
  &-paragraph{

  }

  &-address:before{
    display:inline-block;
    content:"";
    width:15px;
    height:15px;
    background:url(../images/icon_sprite.png) 0 0;
    margin-right:5px;
  }

  &-transport:before{
    display:inline-block;
    content:"";
    width:15px;
    height:13px;
    background:url(../images/icon_sprite.png) 0 -16px;
    margin-right:5px;
  }

  &-phone:before{
    display:inline-block;
    content:"";
    width:15px;
    height:15px;
    background:url(../images/icon_sprite.png) 0 -30px;
    margin-right:5px;
  }

  &-time:before{
    display:inline-block;
    content:"";
    width:15px;
    height:15px;
    background:url(../images/icon_sprite.png) 0 -46px;
    margin-right:5px;
  }

  &-web:before{
    display:inline-block;
    content:"";
    width:15px;
    height:13px;
    background:url(../images/icon_sprite.png) 0 -62px;
    margin-right:5px;
  }
}



.timeline{
  width:1800px;
  position:fixed;
  bottom:25px;
  margin-left:110px;


  .margin{
    margin-right:20px;
    margin-left:20px;
  }

  &-name1{
    float:left;
  }
  &-name2{
    float:left;

    &:after{
      content:"";
      display:inline-block;
      float:left;
      width:400px;
      height:1px;
      background:#fff;

      margin-top:9px;
    }
  }
  &-name3{
    float:left;

    &:after{
      content:"";
      display:inline-block;
      float:left;
      width:400px;
      height:1px;
      background:#fff;
      text-align:center;

      margin-top:9px;
    }
  }
  &-name4{
    float:left;

    &:after{
      content:"";
      display:inline-block;
      float:left;
      width:400px;
      height:1px;
      background:#fff;

      margin-top:9px;
    }
  }
}
