.bg2{

  width:100%;
  height:100%;
  background: -moz-linear-gradient(top, rgba(255,198,198,0.25) 0%, rgba(250,255,0,0.25) 17%, rgba(255,140,40,0.25) 36%, rgba(234,153,40,0.25) 38%, rgba(62,255,40,0.25) 54%, rgba(83,242,51,0.25) 56%, rgba(255,141,137,0.25) 72%, rgba(248,147,140,0.25) 73%, rgba(137,255,182,0.25) 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,198,198,0.25) 0%,rgba(250,255,0,0.25) 17%,rgba(255,140,40,0.25) 36%,rgba(234,153,40,0.25) 38%,rgba(62,255,40,0.25) 54%,rgba(83,242,51,0.25) 56%,rgba(255,141,137,0.25) 72%,rgba(248,147,140,0.25) 73%,rgba(137,255,182,0.25) 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,198,198,0.25) 0%,rgba(250,255,0,0.25) 17%,rgba(255,140,40,0.25) 36%,rgba(234,153,40,0.25) 38%,rgba(62,255,40,0.25) 54%,rgba(83,242,51,0.25) 56%,rgba(255,141,137,0.25) 72%,rgba(248,147,140,0.25) 73%,rgba(137,255,182,0.25) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffc6c6', endColorstr='#4089ffb6',GradientType=0 ); /* IE6-9 */
}

.schedule-big{
  //font-size:90px;
  //color:#00ffaa;
  background:url(../images/italy_schdule_main.jpg) no-repeat;
  width:1920px;
  height:1080px;
  //position:absolute;
  //text-align:center;
  //line-height:1080px;

  &-title{
    color:#00ffaa;
    font-size:90px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
  }
}

.border-box-schedule{
  border:3px solid #fff;
  width:1523px;
  height:650px;
  position:absolute;
  left:184px;
  top:173px;
  text-indent:-99999em;
}


//.inner-box2{
//  width:1056px;
//  margin:0 auto;
//}

.day{
  font-size:90px;
  color:#6e6e6d;
  text-align:center;
  margin:150px 0;
}

.center-line{
  width:3px;
  height:800px;
  background:#00ffaa;
  margin:0 auto;
  text-indent:-99999em;
  position:relative;
}

.border-radius{
  width:25px;
  height:25px;
  border-radius:50%;
  background:#00ffaa;
  position:absolute;
  text-indent:-99999em;

  &:nth-child(1){
    top:0;
    left:-10px;
  }
  &:nth-child(2){
    top:200px;
    left:-10px;
  }
  &:nth-child(3){
    top:400px;
    left:-10px;
  }
  &:nth-child(4){
    top:600px;
    left:-10px;
  }
  &:nth-child(5){
    top:800px;
    left:-10px;
  }

}

.schedule{

  &-wrap{
    background:skyblue;
    color:#000;
    width:411px;
    height:254px;
    position:relative;
    //float:left;
    //margin-right:50px;

    &:nth-child(1){
      top:-825px;
      left:-29px;
    }

    &:nth-child(2){
      top:-882px;
      left:625px;
    }

    &:nth-child(3){
      top:-933px;
      left:-29px;
    }

    &:nth-child(4){
      top:-991px;
      left:625px;
    }

    &:nth-child(5){
      top:-1041px;
      left:-29px;
    }


  }

  &-triangle-right{
    width:0;
    height:0;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:30px solid yellowgreen;
    text-indent:-99999em;
    position:absolute;
    top:25px;
    left:411px;
  }

  &-triangle-left{
    width:0;
    height:0;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right:30px solid yellowgreen;
    text-indent:-99999em;
    position:absolute;
    top:25px;
    left:-30px;
  }

  &-center{
    position:absolute;
    width:360px;
    height:214px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }

  &-iamge{
  }

  &-text{
    width:164px;
    height:169px;

    float:right;



    &-title{
      margin-bottom:20px;

    }

    &-paragraph{

    }
  }
}

.nav{
  &-side{
    width:105px;
    color:#00ffaa;
    font-size:18px;
    font-weight:bold;
    position:fixed;
    top:93px;
    right:225px;
  }

  &-title{
    padding-bottom:30px;
    text-align:center;

  }

  &-height{
    width:2px;
    height:130px;
    background:#00ffaa;
    text-indent:-99999em;
    margin:0 auto;
  }

  &-width{
    width:105px;
    height:25px;
    margin:90px 0;
    position:relative;
    cursor:pointer;

    &-pd{
      //width:15px;
      width:105px;
      height:2px;
      background:#b3b5b7;
      //text-indent:-99999em;
      position:absolute;
      top:12px;
      left:0;

      &.on{
        background:none;
      }
    }
  }

  &-name{

    display:none;
    width:105px;
    text-align:center;
    color:#00ffaa;
    position:absolute;
    top:-13px;
    left:0;

    &.on{
      display:block;
    }
  }

  &-arrow-box{
    width:68px;
    height:124px;
    border:2px solid #00ffaa;
    text-indent:-99999em;
    position:relative;
    box-sizing:border-box;
    margin:0 auto;
  }
  &-arrow{
    width:20px;
    height:65px;
    background:url(../images/transport_arrow.png) 0 0;
    position:absolute;
    top:40px;
    left:22px;
  }
}