.bg-transport{
  width:100%;
  height:100%;
  background:#ddd;
}

.transport-tip{
  font-size:90px;
  color:#00ffaa;
  background:url(../images/transport_main.jpg) no-repeat;
  width:100%;
  height:100%;
  text-align:center;
  line-height:1080px;
}

.border{

  &-wrap{

  }

  &-box{
    border:3px solid #000;
    width:1523px;
    height:650px;
    position:fixed;
    left:184px;
    top:173px;

  }
}